.alertError .title{
    background-color: #E10110;
    color: #eee;
    padding: 5px;
    border-radius: 5px 5px 0px 0px;
    width: 100%;
    padding-left: 1rem;
}

.alertError .body {
    padding: 5px;
    border-radius: 5px;
    padding-left: 1rem;
}

.alertError {
    background-color: #E10110;
    width: 20vw;
    min-width: 300px;
    color: #eee;
    border-radius: 5px;
    position: absolute;
    left: 1vw;
    transform: translateX(-100vw);
    top: 1vh;
    transition: all 1s;
    animation-name: notification;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    z-index: 3;
}

.hide {
    left: -50vw;
}

@keyframes notification {
    0% {
        transform: translateX(-100vw);
    }

    100% {
        transform: translateX(5%);
    }
}
